.paginator__buttonlimit {
  display: inline-block;
  height: 2rem;
  width: 5rem;
  border: 1px solid blue;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: blue;
  line-height: 2rem;
  margin: 0;
}
