.listPostsPage {
  max-width: 1200px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.listPostsPage__headerSection {
  flex: 0 1 4rem;
  align-items: center;
}

.listPostsPage__mainSection {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 90%;
}

.listPostsPage__footerSection {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 90%;  
}
