.onePostPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 5% auto;
}

.onePostPage__header {
  padding: 2%;
}

.onePostPage__headerLabel {
  font-size: 1.4rem;
  text-decoration: underline;
}

.onePostPage__headerLinkBack {
  border: 0px;
  background-color: white;
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  line-height: 2.2rem;
  cursor: pointer;
}

.onePostPage__body {
  font-size: 1.2rem;
}

.onePostPage__comments {
  font-size: 1rem;
  width: 90%;
}

.onePostPage__commentsBlock {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 5% 0 0;
}

.commentsBlock__commentsLabel {
  font-size: 1.4rem;  
}

.commentsList__cardComment {
  display: flex;
  flex-flow: column nowrap;
  padding: 1% 0 0;
  width: 90%;
}

.commentsList__cardCommentName {
  font-size: 1.3rem;
  text-align: center;
}

.commentsList__cardCommentNameBody {
  font-size: 1.3rem;
}

.commentsList__cardCommentEmail {
  font-size: 1rem; 
}
