.postsList {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.postsList__cardPost {
  display: flex;
  flex-flow: column nowrap;
  padding: 1% 0 0;
  width: 90%;
}

.postsList__cardPost_number {
  font-size: 1.3rem;
  text-align: center;
}

.postsList__cardPost_header {
  font-size: 1.3rem;
}

.postsList__cardPost_body {
  font-size: 1rem; 
}

.postsList__linkPost {
  width: 5rem;
  color: black;
  font-size: 1rem;
  text-align: center;
}
